:root {
    --size_mini: 14px;
    --color_black: #000;
    --color_while: #fff;
    --top: 5px;
    --right: 5px;
    --left: 5px;
    --bottom: 5px;
}

.display, .displayAccount {
    display: none;
}